<!doctype html>
<html>
    <head>
        <title>About <%=webName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>The <%=webName%> Site</h1>
        <p>Here are some subjects we offer.</p>
        <table class="subjects-table">
            <th>Subject</th>
            <th>Level</th>
            <th>Price</th>
            <th>Hour</th>
          </tr>
        </thead>
        <tbody>
          <% availableSubjects.forEach(function(subjects) { %>
            <tr>
              <td><%= subjects.name %></td>
              <td><%= subjects.level %></td>
              <td><%= subjects.price %></td>
              <td><%= subjects.hour %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </body>
  </html>
